{{/* Header (override Typo theme) */}}

<div class="header">

  {{ if or (not (.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
      <a href="{{ site.Home.RelPermalink }}">{{ site.Title }}</a>
    </h1>

    <div class="header-menu">
      {{ $currentPage := . }}

      {{ with site.Menus.main }}
        {{ range . }}
          <p class="small {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} bold {{ end }}">
            <a href="{{ .URL }}"{{ if .Params.newTab }} target="_blank" rel="noopener noreferrer"{{ end }}>
              /{{ .Name }}
            </a>
          </p>
        {{ end }}
      {{ end }}

      {{/* Language switch */}}
      {{ if gt (len site.Languages) 1 }}
        {{ range (where site.Sites "Language.Lang" "ne" site.Language.Lang) }}
          {{ $targetURL := "" }}

          {{ $translated := where $currentPage.Translations "Language.Lang" "eq" .Language.Lang }}
          {{ with $translated }}
            {{ $targetURL = (index . 0).RelPermalink }}
          {{ end }}

          {{ if eq $targetURL "" }}
            {{ if $currentPage.IsHome }}
              {{ $targetURL = .Home.RelPermalink }}
            {{ else if eq $currentPage.Kind "section" }}
              {{ with .GetPage "section" $currentPage.Section }}
                {{ $targetURL = .RelPermalink }}
              {{ else }}
                {{ $targetURL = .Home.RelPermalink }}
              {{ end }}
            {{ else }}
              {{ $targetURL = .Home.RelPermalink }}
            {{ end }}
          {{ end }}

          <p class="small">
            <a href="{{ $targetURL }}">/{{ .Language.LanguageName }}</a>
          </p>
        {{ end }}
      {{ end }}
    </div>

  {{ end }}

</div>
